<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>LastAccessedDate</key>
        <date>2017-10-07T03:21:59Z</date>
        <key>WorkspacePath</key>
        <string>/tmp/sandbox/workspace/build/iOS/Release/emrals.xcworkspace</string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>fbFacebookAppID</string>
                </array>
            </dict>
        </array>
        <key>FacebookAppID</key>
        <string>FacebookAppID</string>
        <key>FacebookDisplayName</key>
        <string>Emrals</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>fbapi</string>
            <string>fb-messenger-api</string>
            <string>fbauth2</string>
            <string>fbshareextension</string>
        </array>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>to upload dirt alerts</string>
    </dict>
</plist>


